<div class="topline d-flex justify-content-between align-items-center p-3 border-bottom bg-light">
    <h2 class="mb-0">Pending changes</h2>
    <button id="pendingclose" class="btn btn-danger" data-bs-toggle="collapse" data-bs-target="#pending" aria-expanded="true" aria-controls="pending">X</button>
  </div>
  
  <br>
  
  <% let pendinginstrument = false %>
  <% instruments.forEach(function(instrument) {
    
          
    if (instrument.pending) { pendinginstrument = true; %>
      
      <div class="mb-3">
        <p>
          <%= instrument.user %> wants <%= instrument.name %> in address<%= instrument.lightlist.length === 1
                ? ` ${instrument.startAddress}`
                : `es ${instrument.startAddress}-${instrument.startAddress + instrument.lightlist.length -1}` %>
        </p>
        <a href="/confirm/<%= instrument.id %>" class="btn btn-secondary">Done</a>
      </div>
    <% } %>
  <% }) %>
  
  <% if (!pendinginstrument) { %>
    <p>You have no pending instruments! Hooray!</p>
  <% } %>
  