<h2>Pending changes</h2>
<% let pendinginstrument = false%>
<% instruments.forEach(function(instrument, ) { %>
    <% if (instrument.pending) { 
        pendinginstrument = true%>
        <div>
            <p><%= instrument.user %> wants <%= instrument.name %> in address<%= instrument.lightlist.length === 1 ? ` ${instrument.startAddress}` : `es ${instrument.startAddress}-${instrument.lightlist.length-1}` %></p>
            <a href="/confirm/<%= instrument.id %>" class="btn btn-secondary">Done</a>

        </div>
    <% }
         
 }); 
 
  if(!pendinginstrument){%>
<p>You have no pending instruments! Horray</p>
        <% }%>
